<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teste Banco de dados</h1>
    
    <table>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Endereço</td>
        </tr>
        <% for(var i = 0; i < pessoa.length ; i++){ %>
        <tr>
            <td><%= pessoa[i].nome %></td>
            <td><%= pessoa[i].email %></td>
            <td><%= pessoa[i].endereco%></td>
        </tr>
        <%}%>
    </table>
</body>
</html>